body{
    margin: 0;
    padding: 0;
    background-color: rgb(200,230,200);
}
.form{
    width: 200px;
    margin-left: 6px;
    padding: 30px;
    top: 50%;
    left: 10%;
    text-align: center;
}
h1{
  color:rgb(225,225,225);
}
h2{
  color: rgb(37,12,119);
}
label{
  color: rgb(37,12,119);
}
nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37,12,119); 
  padding: 1.5rem 3.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

input{
  background-color: rgb(255,255,255);
}
